:root{
    --color-primario:rgb(54,112,199);
    --color-texto: black;
    --color-claro: white;
    --color-oscuro:#333;
    --color-advertencia:rgb(99,36,36);
   
}
.titulo-principal{
    text-align: center;
    color: black;
}
.titulo-listas{
    margin: 1em 0 .4em 0;
    color:black
}
body{
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    box-sizing: border-box;
    background: url(https://source.unsplash.com/collection/1103088);
    background-size: cover;
    background-color: var(--color-primario);
    color: var(--color-claro);
    display: flex;
    flex-direction: column; 
    align-items: center;    
}
main{
    display: grid;
    grid-template-columns: 1fr minmax(150px,300px) minmax(200px,450px) 1fr; 
    gap:1em;   
    grid-template-areas: ". l t .";
    background-color: rgba(255, 255, 255, .1);
    width: fit-content;    
    backdrop-filter: blur(10px);
    padding-top: 1em;
    padding-bottom:1em ;
    
}
.lista{
    font-size: 1.3rem;
    grid-area: l;
    list-style: circle;
    color: black;
    max-height: 70vh ;    
    overflow: scroll;   
    
}
.lista::-webkit-scrollbar {    
    -webkit-appearance: none;    
}
.lista::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 4px;
    border: 2px solid #f1f2f3;
}
.lista::-webkit-scrollbar-corner{
    display: none;
}


.nombre-lista{
    cursor: pointer;
}
.nombre-lista:hover{
    opacity: 0.7;
}
.detalle-listas{
    --espaciador:2rem;
grid-area: t;
background-color: var(--color-claro);
color: var(--color-oscuro);
margin: 0;


}
.detalle-header{
background: #885151a4;
display: flex;
flex-direction: column;
padding: var(--espaciador);
padding-bottom: .5em;
}
.titulo-detalle-listas{    
    margin: 0;
    margin-bottom: .2em;    
}
.contador{
    margin: 0;
    align-self: end;
    font-size: .7em;
}
.detalle-body{
padding: var(--espaciador) var(--espaciador) 0 var(--espaciador);
max-height: 25vh ;   
overflow: scroll;  

}

.detalle-body::-webkit-scrollbar {
    -webkit-appearance: none;
}
.detalle-body::-webkit-scrollbar-thumb {
    background-color: var(--color-advertencia);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.detalle-body::-webkit-scrollbar-corner{
    display: none;
}


.tarea-nueva::placeholder{
    color: var(--color-oscuro);
}
.detalle-crear-tareas{
    margin: 0;  
    padding-left: var(--espaciador);
    padding-right: var(--espaciador);    
}

.detalle-borrar-tareas{
    margin: 0;
    padding-left: var(--espaciador);
    padding-right: var(--espaciador);
    padding-bottom: var(--espaciador);    
}
.ul-lista{
    line-height: 1.7;
    padding-left: 1.1em;
}

.lista-activa{
    font-weight: 700;
}
::placeholder{
color: black;
opacity: 0.7;
}
.lista-nueva , .tarea-nueva{
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: 1.1rem;
    outline: none;
    
    transition: border-bottom 200ms ease-in;
    order:1;

}

.lista-nueva:focus , .tarea-nueva:focus{
    border-bottom-width: 3px;
}
.lista-nueva:focus::placeholder , .tarea-nueva:focus::placeholder{
    opacity: 0.1;
}

form{
    display: flex;
}

.btn{
    cursor:pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;    
    font-weight: 700;
    letter-spacing: .8px;
    opacity: .7;
    font-size: 8.rem;
}

.btn-nueva-lista{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 200ms ease-in;
}

.btn-nueva-lista:hover{
    opacity: 0.7;
}

.btn-nueva-tarea{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 200ms ease-in;
}

.btn-nueva-tarea:hover{
    opacity: 0.7;
}


[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.checkbox-personalizado{
    --size: .75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    margin-right: var(--size);
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
.detalle-tarea:hover .checkbox-personalizado, 
[type="checkbox"]:focus + label .checkbox-personalizado{
    transform: scale(1.2);
    color: var(--color-primario)
}

[type="checkbox"]:checked + label .checkbox-personalizado{
    background: var(--color-primario);
    border-color: var(--color-primario);
    box-shadow:  inset 0 0 0 4px white ;
}

[type="checkbox"]:checked + label{    
    border-color: var(--color-primario);
    box-shadow:  inset 0 0 0 4px white ;
}
.detalle-tarea{
    position: relative;
}
.detalle-tarea::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 45%;
    height: 2px;
    background-color: currentColor;
    opacity: .1;

}

.detalle-tareas label{
    display: inline-flex;
}
.detalle-tarea label {
    display:inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;   
}

.detalle-tarea label::after{
    content: "";
    position: absolute;
    left: 1.5em;
    right: 0;
    height: 3px;
    background: currentColor;
    transform-origin: left;
    transform: scalex(0);
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after{
    transform: scalex(1);
}

.detalle-borrar-tareas{
    display: flex;
    margin-top: 1.6em;
    justify-content: space-evenly;
}

.btn-borrar-lista, .btn-borrar-tareas{
    color: white;
    background-color: var(--color-oscuro);
    padding: .7em;
    border-radius:5%;
}

.btn-borrar-lista:hover, .btn-borrar-tareas:hover{
    color:black;
    background-color: var(--color-primario);
}


@media screen and (max-width: 750px) {
    main{
        grid-template-columns: 1fr minmax(200px,450px) 1fr; 
        gap:1em;   
        grid-template-areas: ". l  ."
                            ". t .";
    }
    .lista{
        max-height: 50vh ; 
    }
  }