:root{    
    --color-primario:black;
    --color-texto: black;
    --color-claro: white;
    --color-oscuro:#333;
    --color-advertencia:rgb(99,36,36);
    box-sizing: border-box;
   
}

.titulo-principal{  
    text-align: center;  
    color: black;
    font-size: 2.8rem;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
    margin-bottom: .5em;
    text-shadow: #5456585d -125px -22px,#f0f0f0c2 125px 22px, #ffffffab 2px 2px;
}

.titulo-listas{
    margin: 0;   
    color:black;    
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
   
}
body{    
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    box-sizing: border-box;
    /* background: url(https://source.unsplash.com/collection/252265);  */  
    background-size: cover;
    color: var(--color-claro);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.contenedor{
    padding-top: .5em;    
    background-color: rgba(255, 255, 255, 0.027);
    width: fit-content;    
    backdrop-filter: blur(6px);
}
main{
    display: grid;
    grid-template-columns: 1fr minmax(150px,300px) minmax(200px,450px) 1fr; 
    gap:1em;   
    grid-template-areas: ". l t .";
    padding-top: 1em;
    padding-bottom:1.8em;
}
.lista{
    font-size: 1.3rem;
    grid-area: l;
    list-style: circle;
    color: black;
    max-height: 70vh ;    
    overflow: scroll;   
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;    
}
.lista::-webkit-scrollbar {    
    -webkit-appearance: none;    
}
.lista::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 4px;
    border: 2px solid #f1f2f3;
}
.lista::-webkit-scrollbar-corner{
    display: none;
}


.nombre-lista{
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
font-family: 'Poppins', sans-serif;
}
.nombre-lista:hover{
    opacity: 0.7;
}
.detalle-listas{
font-family: 'Fredoka', sans-serif;
font-family: 'Poppins', sans-serif;
 --espaciador:1.1rem;
grid-area: t;
background-color: var(--color-claro);
color: var(--color-oscuro);
margin: 0;
}

.detalle-header{
    
background: black;
color: white;
display: flex;
flex-direction: column;
padding: .2em .8em .5em .8em;
margin: 5px;
line-height: 1.1em;
}
.titulo-detalle-listas{ 
    font-size: 2rem;      
    margin: 0;   
    margin-top: .4em;
    margin-bottom: .3em;    
}
.contador{
    margin: 0;
    align-self: end;
    font-size: .6em;   
}
.detalle-body{
padding: var(--espaciador) var(--espaciador) 0 var(--espaciador);
max-height: 35vh ;   
overflow: scroll;
}

.detalle-body::-webkit-scrollbar {
    -webkit-appearance: none;
}
.detalle-body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.detalle-body::-webkit-scrollbar-corner{
    display: none;
}
.tarea-nueva::placeholder{
    color: var(--color-oscuro);
}
.detalle-crear-tareas{
    margin: 0;  
    padding-left: var(--espaciador);
    padding-right: var(--espaciador);    
}

.detalle-borrar-tareas{
    
    margin: 0;
    padding-left: var(--espaciador);
    padding-right: var(--espaciador);
    padding-bottom: var(--espaciador);    
}
.ul-lista{
    line-height: 1.7;
    padding-left: 1.1em;
}

.lista-activa{
    font-weight: 700;
}
::placeholder{
color: black;
opacity: 0.7;
}
.lista-nueva , .tarea-nueva{
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: .9rem;
    outline: none;    
    transition: border-bottom 200ms ease-in;
    order:1;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;

}
label{
    font-size: .9em;
}
input{
    width: 14em;
}

.lista-nueva:focus , .tarea-nueva:focus{
    border-bottom-width: 3px;
}
.lista-nueva:focus::placeholder , .tarea-nueva:focus::placeholder{
    opacity: 0.1;
}

form{
    display: flex;
}

.btn{
    cursor:pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;    
    font-weight: 400;
    letter-spacing: .8px;
    opacity: 1;
    font-size: .75rem;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.btn-nueva-lista{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 200ms ease-in;
}

.btn-nueva-lista:hover{
    opacity: 0.7;
}

.btn-nueva-tarea{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 200ms ease-in;
}

.btn-nueva-tarea:hover{
    opacity: 0.7;
}


[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.checkbox-personalizado{
    --size: .70em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    margin-right: var(--size);
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
.detalle-tarea:hover .checkbox-personalizado, 
[type="checkbox"]:focus + label .checkbox-personalizado{
    transform: scale(1.2);
    color: var(--color-primario)
}

[type="checkbox"]:checked + label .checkbox-personalizado{
    background: var(--color-primario);
    border-color: var(--color-primario);
    box-shadow:  inset 0 0 0 4px white ;
}

[type="checkbox"]:checked + label{    
    border-color: var(--color-primario);
    box-shadow:  inset 0 0 0 4px white ;
}
.detalle-tarea{
    position: relative;
}
.detalle-tarea::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40%;
    height: 2px;
    background-color: currentColor;
    opacity: .1;

}

.detalle-tareas label{
    display: inline-flex;
}
.detalle-tarea label {
    display:inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.2em;   
}

.detalle-tarea label::after{
    content: "";
    position: absolute;
    left: 1.5em;
    right: 0;
    height: 3px;
    background: currentColor;
    transform-origin: left;
    transform: scalex(0);
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after{
    transform: scalex(1);
}

.detalle-borrar-tareas{
    display: flex;
    margin-top: 1.6em;
    justify-content: space-evenly;
}

.btn-borrar-lista, .btn-borrar-tareas{
    color: white;
    background-color: var(--color-oscuro);
    padding: .7em;
    border-radius:5%;
}

.btn-borrar-lista:hover, .btn-borrar-tareas:hover{    
    background-color: black;
}
.contenedor-cambiar-fondo{
    position: fixed;
    height: fit-content; 
    top:0;
    left: 5vw;
    bottom: -88vh;      
    display: flex;
    align-items: center; 
      
}

.btn-imagen-input{
    background:none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    cursor: pointer;
    margin-left: -5vw;
    opacity: .2;
    transition: all .8s; 
}
.btn-imagen-input:hover{
    opacity: 1;
}

.cambiar-fondo{   
    display: none;
    background-color: rgba(255, 255, 255, 0.466); 
    padding: 3px; 
    color: black;
    font-weight: 500;    
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
    opacity: .4;
}
.cambiar-fondo:hover{
opacity: 1;
}

.btn-agr-img-fondo , .btn-fondo-aleatorio{
    border: solid 1px black;
    font-size: 1rem;
    padding: .3em .7em .3em .7em ;
    border-radius: 5px;
} 

.btn-agr-img-fondo:hover , .btn-fondo-aleatorio:hover{
    background-color: black;
    color: white;
}   

#url-fondo{
    height: 1.8em;
}


@media screen and (max-width: 750px) {
    body{
        background-size: auto;
        justify-content: flex-start;
    }
    main{
        grid-template-columns: 1fr minmax(200px,450px) 1fr; 
        gap:0em;
        margin-top: -1.7em;
        grid-template-areas: ". l  ."
                            ". t .";                            
    }
    .titulo-principal{        
        margin:0;
        font-size: 1.6em;
        margin-bottom: 1.5em;  
        margin-top: .4em;  
        line-height: 1.1em;
        text-shadow: #f1f2f3ab 2px 2px;
    }
    .lista{
        max-height: 50vh ;
        justify-self: center; 
    } 
    .detalle-header{
        padding: .5em;
    }
    .contenedor{
        margin-top: 0;
        min-height: 90vh;
        height: fit-content;        
        width: 95%;        
    }
    .contenedor-cambiar-fondo{
        position:static;   
        display: flex;
        flex-direction: column-reverse;       
    }
        .btn-imagen-input{ 
            align-self: center;
            margin: 0;              
            font-size: 3rem;
            cursor: pointer;        
            opacity: .8;
            transition: all .3s;
            margin-bottom: .2em; 
        }
        .btn-imagen-input:hover{
            opacity: 1; 
          }
        
        .cambiar-fondo{  
            display: none;
            justify-content: center;        
            width: 100vw;
            opacity: 1;
            margin-left: 0;    
            margin-top: .8em;
            padding:.5em; 
            color: black;
            font-weight: 600;
            font-size: 1.2rem;        
        }
        .cambiar-fondo button {
            font-size: 1rem;
            padding: .3em .7em .3em .7em;
            
        }
        #url-fondo{
            width: 35vw;
            height: 2em;
            margin-left: .2em;
        }

  }  

@media screen and (max-width: 550px) {
    body{
        background-size: auto;
        justify-content: flex-start;
    }
    main{       
        gap:0em;
        margin-top: -1.7em;
        padding-bottom: 0;
        grid-template-columns: 4px 1fr 1fr 4px; 
        grid-template-areas: ". l l ."
                            ". t t .";                            
    }

    .lista{
        max-height: 50vh ;
        justify-self: center;        
    }    
    .titulo-principal{        
        margin:0; 
        font-size: 2rem;
        margin-bottom: 1.5em;  
        margin-top: .4em;  
        line-height: 1.1em;
        display: block;
        text-align: center;
        text-shadow: #f1f2f3ab 2px 2px;
    }
    .titulo-listas{
        font-size: 1.1em;
    }
    .titulo-detalle-listas{
        font-size: 1.1em;
    }    
    .ul-lista{
        line-height: 1.7;
        padding-left: 1.1em;
        font-size: 1.1rem;
    }
    .detalle-borrar-tareas{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-bottom: 1em;
    }
    .btn{
        font-weight: 400;        
    }
    .contenedor{       
        margin-top: 0;               
        height: fit-content;        
        width: 95%;        
    }
.contenedor-cambiar-fondo{
    position: relative;   
    display: flex;
    flex-direction: column-reverse;
    margin-left: -1.4em;
    
}
    .btn-imagen-input{ 
        align-self: center;
        margin: 0;              
        font-size: 3rem;
        cursor: pointer;        
        opacity: .8;
        transition: all .8s;
        margin-bottom: .2em;        
    }
    .btn-imagen-input:hover{
        opacity: .7;  
        
      }
    
    .cambiar-fondo{  
        display: none;
        justify-content: center;        
        width: 100vw;
        margin-left: 0;    
        margin-top: .8em;
        padding:.5em; 
        color: black;
        font-weight: 600;
        font-size: 1rem; 
        

    }
    .cambiar-fondo button {
        font-size: .9rem;
        padding: .3em .7em .3em .7em;
        
    }
    #url-fondo{
        width: 35vw;
        height: 2em;
        margin-left: .2em;
        
    }
  }


